[user]
  email = ruben@maher.fyi
  name = Ruben Maher
  signingkey = ruben@maher.fyi
[commit]
  gpgsign = true
[core]
  editor = "emacsclient -c -a=\"\""
  excludesfile = ~/.gitignore_global
  autocrlf = false
[merge]
  tool = emerge
  conflictstyle=diff3
[color]
  ui = true
[push]
  default = current
[sendemail]
  smtpuser = ruben@maher.fyi
  smtpserver = /usr/bin/msmtp
  smtpencryption = ssl
[sendpack]
  sideband = false
[alias]
  # https://docs.gitlab.com/ee/user/project/merge_requests/index.html#checkout-locally-by-adding-a-git-alias
  mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
  pr = !sh -c 'git fetch $1 pull/$2/head:pr-$1-$2 && git checkout pr-$1-$2' -
  mergelog = !git-mergelog
  diff-dir-structure = !git-diff-dir-structure
  resolve-root = !git-resolve-root
  prune-tags = !git-prune-tags
  prune-branches = !git-prune-branches
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[credential]
  helper = '!pass-git-helper $@'
[url "git@github.com:"]
  insteadOf = https://github.com/
[pull]
	ff = only
